body {
    
    font-family: "Trebuchet MS","Lucida Sans", sans-serif; 
    font-size: 16px;
    line-height: 24px;
    background-image:url("http://31.media.tumblr.com/tumblr_mbj814YAfq1rirnzso1_400.jpg");
    /*I used a background image from online but I didn't say anything about being copywritten nor did it have a source, I didn't know how to attribute it*/
    text-align:center;
}

/*I need to make the page move when you adjust the size of the website*/

#boxed {
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

article {
    width: 90%;
    padding: 5%;
    padding-top: 3px; 
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: #ffffff;
   
}

a{
    color: #FF7F50;
    text-decoration:none;
}

a:hover 
{
     color:#CD5C5C; 
     text-decoration:none; 
     cursor:pointer;  
}

header{
    text-align:center;
}

.porters {
    text-align:left;
}

figure{
    font-size: 11px;
    text-align:left;
    float:left;
    padding-bottom:15px;
    padding-bottom:5px;  
    width:90%;
   
}

#my-inspiration {
    background-color:#ffffff;
    width:300px;
    float:left;
    margin-right: 20px;
}

.list {
    padding-top: -20px;
}

nav{
    text-align:center;
    font-size:18px; 
    padding-bottom: 20px;
    
}

.multimedia {
    padding-top: 20px;
}


h1 {
    align-content:center;
    text-align:center;   
}

h2 {
    font-size:22px;
    text-align:left;
    color: #F08080;
}

h3{
    font-size:18px;
}


h5{
    font-size:18px;
    padding-left: 22px;
    padding-bottom: .5px;
    margin-bottom: 0px;

}

h6{
    text-align:center;
    padding-top: .06px;
}

h7{
    margin-right:auto;
    margin-left:auto;
}

.center{
    text-align:center;
    font-size: 10px;
}

p {
    text-align:left;
     margin: 0px;
   
}

footer a {
    text-align:center;
    font-size: 12px;
    /*I kept trying to make the font size smaller for the footer nav but it's not working*/
}

#copyright {
    text-align:center;
    font-size: 8px;
}



